
body {
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
	padding: 0;
	color: #1c212d;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
}
.container-main {
	display: flex;
	flex-direction: column;
}
.container-content {
	flex: 1 1;
}
.header	{
	background: url(../img/sovremennaya-stilnaya-kvartira-ot-svoya-studio-v-kieve-14.jpg) no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 60px;
	margin-top: 40px;
}
.header-logo {
	text-decoration: none;
	color: #f90052;
	font-size: 45px;
	font-family: 'MuseoSansCyrl500';
	position: relative;
}
.header-logo:before {
	content: 'Дизайн-студия';
	color: #fff;
	font-size: 14px;
	font-family: 'MuseoSansCyrl500';
	position: absolute;
	right: 0;
	top: -10px;
}
.header-logo:after {
	content: '';
    width: 7px;
    height: 3px;
    position: absolute;
    display: block;
    background-color: #f90052;
    top: 12px;
    left: 65px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.header-titles-container {
	width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.header-titles-item {
	font-size: 16px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	font-size: 16px;
	font-family: 'MuseoSansCyrl300';
}
.header-titles-item:before {
	content: url(../img/arrow_red.png);
    width: 15px;
    margin-top: 1.5px;
    margin-right: 10px;
}
.header-nav {
	-webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
.header-nav-ul {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header-nav-li {
	margin: 0 20px;
}
.header-nav-li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-family: 'MuseoSansCyrl300';
}
.header-nav-li a:hover {
	text-decoration: underline;
}
.header-contacts {
	display: flex;
	flex-direction: column;
}
.header-phone {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	font-family: 'MuseoSansCyrl700';	
}
.header-email {
	color: #fff;
	font-size: 16px;
	font-family: 'MuseoSansCyrl300';
}
.header-nav-mobile {
    display: none;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    border: solid 3px #fff;
    align-items: center;
}
.header-contacts-mobile {
	display: none;
	width: 45px;
    height: 45px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/phone-symbol-of-an-auricular-inside-a-circle-.png);

}
.header-title {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 100%;
}
.header-title h3{
	color: #fff;
	font-size: 45px;
	font-family: 'MuseoSansCyrl700';
	text-align: center;
	margin-bottom: 30px;
}
.header-titles-ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
.header-titles-li p {
	margin:0 45px;
	color: #fff;
	font-size: 16px;
	font-family: 'MuseoSansCyrl300';
}
.header-titles-li span {
	margin-right: 12px;
	color: #f90052;
}
.header-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	max-width: 730px;
	background: #fff;
	margin: 0 auto;
	padding: 0 40px;
	box-sizing: border-box;
}
.header-form-title {
	width: 100%;
    max-width: 555px;
    font-size: 30px;
    margin: 0 auto 25px;
    text-align: center;
    padding-top: 40px;
    font-family: 'MuseoSansCyrl700';
}
.header-form-cols {
	display: flex;
	justify-content: center;
}
.header-form-col{
	display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
}
.header-form-range-title,
.header-form-range-title span,
.header-form-select,
.header-form-services,
.header-form-realty {
	font-size: 18px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
}
.header-form-range input {
	width: 70px;
	font-size: 18px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
	outline: none;
}
.ui-widget.ui-widget-content {
    width: 100%;
    height: 6px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #e7eced;
	border: none;
}
.ui-slider-horizontal .ui-slider-range-min {
   background: linear-gradient(#f90151, #fe5e08);;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(254,83,12,0.5);	
    color: #454545;
    position: absolute;
    top: -12px;
}
.header-custom-select {
	border: solid 3px #f90052;
    position: relative;
    margin-top: 9px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.header-custom-select:before {
	content: '';
    position: absolute;
    background-image: url(../img/arrow-down-thing.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 40%;
    width: 25px;
    height: 15px;
    display: block;
    right: 15px;
    cursor: pointer;
} 
.header-custom-select select {
	font-size: 16px;
	font-family: 'MuseoSansCyrl500';
    flex-grow: 1;
    cursor: pointer;
    padding: 15px;
    height: 100%;
    border: none;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   	background: none;
}
.header-form-radio {
	font-size: 18px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
	margin-bottom: 30px;
}
.header-form-radio-cols {
	display: flex;
}
.header-form-radio-col:last-child {
	margin-left: 60px;
}
.header-form-radio-item {
	margin-top: 9px;
	position: relative;
}
.header-form-radio-item label {
	font-size: 16px;
	font-family: 'MuseoSansCyrl500';
	color: #1c212d;
	cursor: pointer;
}
.header-form-radio-item input {
	display: none;
}
.header-form-realty-col {
	display: flex;
}
.header-form-radio-item:before {
	display: inline-block;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #b8b8b8;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: bottom;
}
.header-form-radio-item:after {
	display: inline-block;
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #1b212f;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	transition: 0.2s;
	opacity: 0;
}
.header-form-radio-item input:checked .header-form-radio-item:after{
	opacity: 1;
}
.header-forms-submit {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 40px 50px;
    margin: 0 -40px;
    background-color: #e7eced;
}
.form-input-phone { 
   margin-bottom: 20px;
    padding: 15px;
    border: solid 3px #b8b8b8;
    width: 100%;
    max-width: 303px;
    font-size: 16px;
    font-family: 'MuseoSansCyrl500';
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
}
.header-form-submit {
	width: 50%;
}
.header-form-submit-btn {
	text-align: center;
}
.header-form-submit-submit {
    background-color: #f90052;
    padding: 25px 75px;
    border-radius: 50px;
	border: none;
	font-size: 18px;
    font-family: 'MuseoSansCyrl500';
    color: #fff;
	cursor: pointer;
	width: 100%;
	outline: none;
	border: 3px solid transparent;
	transition: .5s;	
}
.header-form-submit-btn:hover .header-form-submit-submit {
	background: none;
	color: #1c212d;
	border: 3px solid #f90052;
}
.prices {
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
    justify-content: center;
    width: 100%;
}
.prices-container-what-we-do {	
	display: flex;
    flex-direction: column;
    width: 100%;
}
.prices-what-we-do-row  {
	display: flex;
	flex-direction: column;
    justify-content: center;
}
.prices-what-we-do-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.prices-what-we-do-item {
	position: relative;
	display: flex;
	width: 50%;
	margin-bottom: 35px;
}
.prices-what-we-do-item:first-child {
	padding: 0 15px 0 0;
}
.prices-what-we-do-item:last-child {
	padding: 0 0 0 15px;
}
.prices-what-we-do-img {
	margin-right: 22px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #f2f6f7;
    flex-shrink: 0;    
    display: flex;  
    align-items: center;   
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.prices-what-we-do-item-content {
	font-size: 18px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
	text-align: left;
	margin-bottom: 30px;
	position: relative;
}
.prices-what-we-do-item-content-li {
	font-size: 16px;
	font-family: 'MuseoSansCyrl500';
	margin-bottom: 15px;
	margin-left: 25px;
	position: relative;	
}
.prices-what-we-do-item-content-ul {
	list-style: none;
	margin-top: 30px;
}
.prices-what-we-do-item-content-li:before {
	content: '';
	display: inline-block;
	margin-right: 10px;
	width: 4px;
	height: 4px;
	border-top: 1px solid #f90052;
	border-left: 1px solid #f90052;
	transform: rotate(130deg);
	top: 6px;
    left: -25px;
	position: absolute;
}
.prices-what-we-do-item-content a {
	padding-top: 30px;
	 font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	color: #f90052;
}
.price-h-h2 {
	margin: 0 auto;
	margin-bottom: 35px;
	font-size: 45px;
	font-family: 'MuseoSansCyrl700';
}
.price-h-slider {
	width: 100%;
	display: flex;
	margin-bottom: 45px;
}
.price-h-price-item {
	border: 3px solid #b8b8b8;	
    margin: 0 15px;
	transition: 0.5s;
	width: 33.33%;
	display: flex;
    flex-direction: column;
	padding: 30px 20px;	
}
.price-h-price-item:hover {
	border: 3px solid #f90052;
}
.price-h-price-item-title {
	display: flex;
	justify-content: center;
	color: #1c212d;
	font-size: 30px;
	margin-bottom: 35px;
	font-family: 'MuseoSansCyrl700';
}
.price-h-price-item-content-title {
	display: flex;
	justify-content: center;
	text-align: center;
	border: 3px solid #f2f6f7;
	padding: 0 10px;
	margin-bottom: 30px;
	font-size: 14px;
	font-family: 'MuseoSansCyrl500';	
}
.price-h-price-item:nth-child(2) > .price-h-price-item-content-bottom {
	margin-top: 13px;
}
.price-h-price-item:first-child > .price-h-price-item-content-bottom {
	margin-top: 48px;
}
.price-h-price-item-content {
	margin-top: 35px;
	padding: 0 35px;
	height: 260px;
}
.price-h-price-item-ul {
	list-style: none;
	margin-bottom: 20px;
}
.price-h-price-item-content-time {
	display: flex;
	font-size: 16px;
	font-family: 'MuseoSansCyrl500';
	color: #acacac;
	margin-bottom: 17px;
	margin-top: auto;
}

.price-h-price-item-content-time:before {
	content: url(../img/time-left-.png);
	display: block;
	margin-right: 10px;
}
.price-h-price-item-li {
	display: flex;
	margin: 0 auto;
    font-size: 16px;
    font-family: 'MuseoSansCyrl500';
    position: relative;
    margin-bottom: 15px;
}
.price-h-price-item-li:before {
	content: url(../img/arrow_red.png);
	width: 10px;
    margin-right: 10px;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 1.5px;

}	
.price-h-price {
	display: flex;
	justify-content: center;
	font-family: 'MuseoSansCyrl900';
	font-size: 36px;
	color: #f90052;
	margin-bottom: 30px;
	align-items: baseline;
}
.price-h-price span {
	font-size: 18px;
}
.price-h-price-item-content-link {
	display: flex;
    justify-content: center;
}
.price-h-price-item-content-link  {
	background-color: #f90052;
    width: 100%;
    -webkit-border-radius: 32.5px;
    border-radius: 32.5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    padding: 12px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-family: 'MuseoSansCyrl500';
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    border: 3px solid transparent;
	
}
.price-h-price-item-content-link:hover {
	background-color: #fff;
	color: #1c212d;
	border: 3px solid #f90052;
}
.link-content-bottom {
	display: flex;
	justify-content: center;
}
.content-bottom a {
	background: #f90052;
	border-radius: 50px;
	padding: 14px 19px;
	color: #fff;
	text-decoration: none;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	border: 3px solid #f90052;
	transition: 0.3s;
}

.portfolio {
	background: #f2f6f7;
}
.portfolio-container {
	margin: 0 auto;
	width: 100%;
}
.portfolio-container-h2 {
	font-size: 45px;
	font-family: 'MuseoSansCyrl700';
	text-align: center;
	padding-top: 90px;
	margin-bottom: 50px;
} 
.portfolio-tabs-main {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.portfolio-tabs-main-ul, 
.portfolio-tabs-body-li {
	display: flex;
	width: 100%;
    justify-content: center;
	list-style-type: none;
}
.portfolio-tabs-main-li a {
	text-decoration: none;
	margin-left: 30px;
	cursor: pointer;
	border: 3px solid #fff;
	padding: 20px 25px;
	border-radius: 50px;
	font-family: 'MuseoSansCyrl500';
	font-size: 18px;
	color: #1c212d;
	transition: 0.3s;
}
.portfolio-mobile-li {
	display: none;
	width: 100%;
}
.portfolio-tabs-main-li a:hover {
	border-color: #f90052;
}
.portfolio-tabs-main-li.r-tabs-tab.r-tabs-state-active{
	border-color: #f90052;
}
.portfolio-tabs-head {
	margin: 0 auto;
	width: 100%;
	margin-bottom: 70px;
}
.portfolio-tabs-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 55px;
}
.r-tabs-accordion-title {
	display: none;
}
.r-tabs-panel {
	display: none;
}
.r-tabs-panel.r-tabs-state-active {
	display: block;
}
.portfolio-tabs-body-ul {
	display: flex;
    width: 100%;
    justify-content: center;
	list-style: none;
	display: flex;
	margin-bottom: 55px;
}
.portfolio-tabs-body-li a {
	border: 0;
	margin-left: 35px;
	cursor: pointer;
	padding: 14px 20px;
	border-radius: 50px;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	color: #1c212d;
	background: #e4eaeb;
	transition: 0.3s;
	text-decoration: none;
}
.portfolio-tabs-body-li a:hover {
	background: #fff;
}
.sl-slick-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.sl-slick-slider-main {
	max-width: 620px;
	
}
.sl-slick-slider-img img {
	max-width: 620px;
	height: 473px;
}

.sl-slick-slider-nav {
	width: 110px;
	margin-left: 10px;
}
.sl-slick-slider-nav-img img {
	width: 110px;
	height: 85px;
	border-radius: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.sl-slick-slider-nav:first-child > img {
	margin-top: 0;
}
.sl-slick-slider-nav:last-child img{
	margin-bottom: 0;
}
.sl-slick-title {
	display: flex;
	flex-direction: column;
	margin-left: 35px;
	margin-top: -20px;
}
.sl-slick-title-text-ul {
	list-style: none;
}
.sl-slick-title-text-li {
	font-size: 16px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
	margin-bottom: 10px;
}
.sl-slick-title-text-li:nth-child(n+6) {
	font-family: 'MuseoSansCyrl300';
	position: relative;
	margin-left: 20px;
}
.sl-slick-title-text-li:nth-child(n+6):before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-top: 1px solid #f90052;
	border-left: 1px solid #f90052;
	transform: rotate(130deg);
	vertical-align: middle;
	position: absolute;
    left: -16px;
    top: 8px;
    font-family: 'MuseoSansCyrl300';
}
.sl-slick-title-text-li span {
	font-family: 'MuseoSansCyrl500';
}
.sl-title-links {
	width: 100%;
	display: flex;
    flex-direction: column;
    margin-top: 50px;

}
.sl-title-link-consultation {
	margin-left: 0;
	text-decoration: none;
	background: #f90052;
	border-radius: 50px;
	padding: 15px 30px;
	color: #fff;
	font-size: 18px;
	font-family: 'MuseoSansCyrl500';
	border: 3px solid transparent;
 	transition: 0.3s;
}
.sl-title-links:hover .sl-title-link-consultation {
	background: none;
	color: #1c212d;
	border: 3px solid #f90052;
}
.sl-title-link-feedback{
	color: #f90052;
	font-size: 18px;
	font-family: 'MuseoSansCyrl500';
	padding: 0;
	background: none;
	position: relative;
	margin: 20px auto;
	text-decoration: underline;
	border: none;
}
.sl-title-link-feedback:before {
	content: url(../img/pencil.png);
	position: absolute;
	top: -10px;
    left: -34px;
}
.stages-h2 {
	margin: 0 auto;
	margin-top: 80px;
	font-size: 45px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
}
.stages-container-main {
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 65px;
	margin-bottom: 30px;
	counter-reset: section;
}
.stages-item {
	display: flex;
	padding: 0 15px;
	width: 50%;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 60px;
}
.stages-text {
	font-size: 18px;
	font-family: 'MuseoSansCyrl700';
} 
.stages-text-ul {
	list-style: none;
	margin-top: 30px;
}
.stages-item:before {
	counter-increment: section;
    content: '' counter(section);
    font-size: 72px;
    color: #f90052;
    margin-right: 30px;
    line-height: 1;
    font-family: 'MuseoSansCyrl500';
}
.stages-text-li {
	font-size: 16px;
	font-family: 'MuseoSansCyrl500';
	color: #1c212d;
	margin-bottom: 15px;
	margin-right: 80px;
	position: relative;
	margin-left: 15px;
}
 .stages-text-li:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-top: 1px solid #f90052;
	border-left: 1px solid #f90052;
	transform: rotate(130deg);
	vertical-align: middle;
	position: absolute;
    left: -16px;
    top: 8px;
}
.stages-item:nth-child(2) > .stages-text > .stages-text-ul  {
	margin-bottom: 50px;
}
.stages-text-link {
	display: flex;
	justify-content: center;
	font-size: 18px;
	font-family: 'MuseoSansCyrl500';
	color: #1c212d;
	padding: 20px 0;
	border: 3px solid #f90052;
	border-radius: 50px;
	text-decoration: none;
	transition: 0.3s;
}
.stages-text a:hover {
	background: #f90052;
	color: #fff;
}
.vr {
	background: url(../img/vr.jpg) center -225px no-repeat;
    max-width: 1920px;
    margin: 0 auto;
}
.vr-container {
	padding-left: 15px;
	max-width: 650px;
	padding-top: 80px;
	font-size: 45px;
	font-family: 'MuseoSansCyrl700';
	margin-bottom: 56px;
}
.vr-ul {
	list-style: none;
	margin-top: 40px;
}
.vr-li {
	font-size: 18px;
	font-family: 'MuseoSansCyrl500';
	margin-bottom: 30px;
	margin-left: 9px;
    position: relative;
}
.vr-li:before {
	content: '';
	display: inline-block;
	margin-right: 6px;
	width: 4px;
	height: 4px;
	border-top: 2px solid #f90052;
	border-left: 2px solid #f90052;
	transform: rotate(130deg);
	vertical-align: middle;
	position: absolute;
    left: -13px;
    top: 5px;
}
.vr-form {
	display: flex;
    align-items: baseline;
    width: 685px;
    justify-content: space-between;
}
.vr-form-link {
	text-decoration: none;
	background: #f90052;
	padding: 15px 80px;
	color: #fff;
	border-radius: 50px;
	font-size: 18px;
	font-family: 'MuseoSansCyrl500';
	transition: 0.3s;
	border: 3px solid transparent;
	box-sizing: border-box;
}
.vr-form-link:hover {
	background: none;
	border: 3px solid #f90052;
	color: #1c212d;
}
.works-images {
	width: 1161px;
	margin: 0 auto;
	text-align: center;
}
.style-work {
	background: #f2f6f7;
}
.style-works-h2 {
	padding-top: 75px;
	font-family: 'MuseoSansCyrl700';
	font-size: 45px;
	margin: 0 auto;
}
.team-container {
	justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 90px;
}
.work-item {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    height: 210px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin: 15px;
}

.work-item img {
	height: auto;
	width: 350px;
	position: relative;
}
.work-item .flag {
	background: #fff;
    padding: 10px 25px;
    text-decoration: none;
    position: absolute;
   	border-radius: 0 20px 20px 0;
    top: 10px;
    left: -5px;
    transition: 0.3s;
    color: #1c212d;
    font-size: 18px;
    font-family: 'MuseoSansCyrl700';
}
.work-item .mask {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: -100%;
	top: 0;
	background: rgba(0,0,0,.6);
	transition: .5s;
}
.mask {
	text-align: center;
}
.mask p {
	color: #fff;
	font-size: 16px;
	font-family: 'MuseoSansCyrl500';
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
	margin-bottom: 25px;
}
.work-item .mask a {
	text-decoration: none;
	color: #fff;
	font-family: 'MuseoSansCyrl500';
	font-size: 18px;
	padding: 7px 10px;
	border-radius: 50px;
	background: #f90052;
	border: 3px solid #f90052;
	margin: 0 auto;
}
.work-item .mask a:hover {
	background: none;
	color: #fff;
	border: 3px solid #f90052;
}
.work-item:hover .mask {
	left: 0;
}
.work-item:hover .flag {
	opacity: 0;
}
.work-item-link {
	max-width: 220px;
	margin: 0 auto;
	margin-top: 40px;
}
.work-item-link button {	
	font-size: 18px;
	font-family: 'MuseoSansCyrl500';
	color: #fff;
	padding: 18px 24px;
	border-radius: 50px;
	background: #f90052;
	text-decoration: none;
	border: 3px solid #f90052;
	margin: 0 auto;
	transition: 0.3s;
}
.work-item-link button:hover {
	background: none;
	border: 3px solid #f90052;
	color: #1c212d;
}
.header-form.second {
	border: 3px solid #b8b8b8;
	margin-top: 55px;
	max-width: 925px;
	margin-bottom: 90px;
}
.header-forms-submit.second {
    margin: -3px -43px;
    flex-wrap: nowrap;
    align-items: baseline;
}   
.header-form-cols.second {
	margin-top: 35px;
} 
.header-form-cols.second {
     width: 100%;
}
.slider-range-min2 {
	max-width: 440px;
}
.header-form-radio-group.second {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header-form-radio-cols.second {
	flex-direction: column;
}
.header-form-radio-col.second:last-child {
	margin-left: 0;
}
.header-form-radio.second:last-child {
	margin-right: 10px;
}
.header-form-col.second:last-child {
	margin-right: 0;
}
.form-col-checkbox-item {
	display: flex;
	margin-bottom: 10px;
	cursor: pointer;
}
.form-col-checkboxes {
	display: flex;
	flex-direction: column;
}
.form-col-checkboxes-title {
	font-size: 18px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
	margin-bottom: 10px;
}
.form-col-checkbox-item input {
	display: none;
}
.form-col-checkbox-item label {
	font-size: 18px;
	font-family: 'MuseoSansCyrl500';
	color: #1c212d;
	cursor: pointer;
}
.checkbox-box {
	width: 20px;
    height: 20px;
    border: 1px solid #b8b8b8;
    margin-right: 10px;
}
.form-col-checkbox-item input:checked + span {
    background-color: #000;
    background-image: url(../img/birds-litl.png);
    background-position: center;
    -webkit-background-size: 90% 90%;
    background-size: 90%;
    background-repeat: no-repeat;
}
.header-form-submit-submit.second {
	padding: 25px 60px;
}
.header-form-submit.second {
	margin-right: 30px;
}
.space {
	background: #f2f6f7;
}
.style-works {
	margin-bottom: 90px;
}
.space-h2 {
	font-size: 36px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;
}
.space-title {
	font-size: 16px;
	font-family: 'MuseoSansCyrl500';
	color: #1c212d;
	text-align: center;
	margin-bottom: 30px;
}
.spaces-container {	
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
    border: 1.5px solid #fff;
}
.space-item {
	width: 20%;
    border: 1.5px solid #fff;
    box-sizing: border-box;
    padding: 25px 10px;
}
.space-item-title {
	display: flex;
    flex-direction: column;
	font-size: 18px;
	font-family: 'MuseoSansCyrl700';
	color: #1c212d;
	margin-bottom: 60px;
	text-align: center;
}
.space-item-title span {
	color: #f9105d;
}
.space-item-price {
	text-align: center;
	font-size: 16px;
	font-family: 'MuseoSansCyrl900';
	color: #1c212d;
	margin-bottom: 45px;
}
.space-item-price span {
	font-size: 30px;
}
.space-item-link {
	font-size: 18px;
	margin: 0 auto;
	max-width: 200px;
	font-family: 'MuseoSansCyrl500';
	color: #1c212d;
	border: 3px solid #f9105d;
	border-radius: 50px;
	padding: 19px 0;
	text-decoration: none;
	text-align: center;
	transition: .3s;
}
.space-item-link:hover {
	background: #f9105d;
	color: #fff;
}
.designer-repairs {
	background: url(../img/duz.jpg);
}
.designer-repairs-title {
	text-align: center;
	margin-top: 80px;
	width: 100%;
}
.designer-repairs-h2{
	font-size: 36px;
	font-family: 'MuseoSansCyrl700';
	color: #fff;
	margin-bottom: 25px;
}
.designer-repairs-text {
	max-width: 980px;
    margin: 0 auto;
	text-align: center;
}
.designer-repairs p {
	margin-bottom: 20px;
	font-family: 'MuseoSansCyrl500';
	font-size: 16px;
	color: #fff;
}
.logo-repairs {
	max-width: 750px;
	display: flex;
	margin: 0 auto 30px;
}
.logo-repairs img {
	margin: 0 25px;
}
.packages {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: 1.5px solid #fff;
	box-sizing: border-box;
    margin-bottom: 80px;
}
.package-item{
    width: 33.33333%;
    border: 1.5px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 40px;
    box-sizing: border-box;

}
.package-item-title {
	font-family: 'MuseoSansCyrl700';
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-bottom: 25px;
	
}
.package-item-price { 
	font-size: 16px;
    margin: auto 0 50px;
	font-family: 'MuseoSansCyrl900';
	color: #fff;
	text-align: center;
}
.package-item-price span {
	font-size: 30px;
}
.package-item-link {
	display: flex;
	width: 100%;
	justify-content: center;
	color: #fff;
	border-radius: 32.5px;	
	background-color: transparent;
    border: solid 3px #f90052;
    line-height: 1.67;
    font-size: 18px;
	font-family: 'MuseoSansCyrl500';
    padding: 12px 0;
    transition: .3s;
    cursor: pointer;
}
.package-item-link:hover {
	color: #fff;
	background-color: #f90052;	
}
.what-is-design-h2 {
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 65px;
	text-align: center;
	font-family: 'MuseoSansCyrl700';
	font-size: 45px;
	color: #1c212d;
}
.what-is-design-container {
	display: flex;
    margin-bottom: 50px;
}
.what-is-design-img-plan img {
	margin-right: 35px;
}
.what-is-design-text {
	display: flex;
	flex-direction: column;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
}
.what-is-design-ul {
	list-style: none;
	margin-top: 30px;
	margin-left: 20px;
}
.what-is-design-li {
	font-family: 'MuseoSansCyrl500';
	font-size: 16px;
	margin-bottom: 12px;
	position: relative;
}
.what-is-design-li:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-top: 1px solid #f90052;
	border-left: 1px solid #f90052;
	transform: rotate(130deg);
	vertical-align: middle;
	position: absolute;
    left: -20px;
    top: 5px;
}
.what-is-design-link {
	margin-top: 55px;
}
.what-is-design-link a {
	max-width: 200px;
	text-decoration: none;
	border: 3px solid #f90052;
	border-radius: 50px;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	color: #1c212d;
	padding:  15px;
	margin-top: 50px;
    text-align: center;
	margin-bottom: 170px;
	transition: 0.3s;
}
.what-is-design-link a:hover {
	background: #f90052;
	color: #fff;
}
.call-designer {
	display: flex;
	background: #f2f6f7;
}
.call-designer-image {
	display: flex;
	align-items: flex-end;
	max-width: 1070px;
	margin: 0 auto;
}
.call-designer-container {
	max-width: 510px;
	width: 80%;
}
.call-designer-h2 {
	margin-top: 85px;
	font-family: 'MuseoSansCyrl700';
	font-size: 45px;
	color: #1c212d;
	margin-bottom: 45px;
}
.call-designer-ul {
	list-style: none;
}
.call-designer-li {
	font-family: 'MuseoSansCyrl500';
	font-size: 16px;
	color: #1c212d;
	margin-bottom: 15px;
	margin-left: 35px;
	position: relative;
}
.call-designer-li:before {
	content: '1';
	font-family: 'MuseoSansCyrl900';
	font-size: 24px;
	color: #f90052;
	position: absolute;
	top: -6px;
    left: -26px;
}
.call-designer-li:nth-child(2):before {
	content: '2';
	font-family: 'MuseoSansCyrl900';
	font-size: 24px;
	color: #f90052;
	position: absolute;
	top: -6px;
    left: -26px;
}
.call-designer-li:nth-child(3):before {
	content: '3';
	font-family: 'MuseoSansCyrl900';
	font-size: 24px;
	color: #f90052;
	position: absolute;
	top: -6px;
    left: -26px;
}

.call-designer-form {
	display: flex;
	flex-direction: column;
}
.call-designer-form {
	margin-top: 30px;
}
.call-designer-form input {
	margin-bottom: 10px;
	padding: 18px;
	font-family: 'MuseoSansCyrl500';
	font-size: 16px;
	color: #1c212d;
}
.call-designer-form-consultation {
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	color: #1c212d;
	margin: 0;
	margin-bottom: 80px;
	text-align: center;
	margin-top: 40px;
	max-width: 350px;
}
.call-designer-link {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 25px;
}
.call-designer-link a {
	text-decoration: none;
	text-align: center;
	background: #f90052;
	border-radius: 50px;
	padding: 15px 135px;
	color: #fff;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	border: 3px solid #f90052;
	transition: 0.3s;
}
.call-designer-link a:hover {
	background: none;
	border: 3px solid #f90052;
	color: #1c212d;
}
.image-designer {
	width: 100%;
	height: 650px;
	overflow: hidden;
}
.col-items:first-child {
	margin-right: 25px
}
.col-items:last-child {
	margin-left: 25px
}
.questions-and-answers-item {
	margin-top: 40px;
}
.questions-and-answers-item:first-child {
	margin-top: 0;
}
.image-designer img {
	display: block;
}
.questions-and-answers-container {
	display: flex;
	flex-direction: column;
}
.questions-and-answers-h2 {
	text-align: center;
	margin-top: 80px;
	font-family: 'MuseoSansCyrl700';
	font-size: 45px;
	color: #1c212d;
	margin-bottom: 60px;
}
.questions-and-answers-cols {
	display: flex;
	width: 100%;
	justify-content: center;
}
.col-items {
	width: 50%;
}
.questions-and-answers-item h4 {
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	color: #1c212d;
	margin-bottom: 30px;
}
.questions-and-answers-ul {
	list-style: none;
}
.questions-and-answers-li {
	font-family: 'MuseoSansCyrl500';
	font-size: 16px;
	color: #1c212d;
	margin-left: 20px;
	position: relative;
	margin-bottom: 7px;
}
.questions-and-answers-li:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-top: 1px solid #f90052;
	border-left: 1px solid #f90052;
	transform: rotate(130deg);
	vertical-align: middle;
	position: absolute;
    left: -15px;
    top: 5px;
}
.office {
	margin-top: 80px;
	margin-bottom: 40px;
}
.office-h2 {
	font-family: 'MuseoSansCyrl700';
	font-size: 45px;
	color: #1c212d;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.office-container {
	border: 3px solid #b8b8b8;
	flex-direction: column;
    width: 100%;
}
.images-office {
	display: flex;
	justify-content: center;
	padding: 0 30px 30px;
}
.image-office {
	width: 50%;
	max-width: 500px;
	overflow: hidden;
}
.image-office:first-child {
	margin-right: 15px;
}
.image-office:last-child {
	margin-left: 15px;
}
.image-office-title {
	text-align: center;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
	color: #1c212d;
	margin-bottom: 30px;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	width: 100%;
}
.footer-logo {
	text-decoration: none;
	color: #f90052;
	font-size: 45px;
	font-family: 'MuseoSansCyrl500';
	position: relative;
}
.footer-logo:before {
	content: 'Дизайн-студия';
	color: #1c212d;
	font-size: 14px;
	font-family: 'MuseoSansCyrl500';
	position: absolute;
	right: 0;
	top: -10px;
}
.footer-logo:after {
	content: '';
    width: 7px;
    height: 3px;
    position: absolute;
    display: block;
    background-color: #f90052;
    top: 12px;
    left: 65px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.footer-policy {
	max-width: 315px;
    text-align: center;
    font-size: 14px;
    font-family: 'MuseoSansCyrl500';
}
.footer-info {
	display: flex;
	flex-direction: column;
}
.footer-info-phone {
	font-size: 24px;
    font-family: 'MuseoSansCyrl700';
    text-decoration: none;
	color: #1c212d;
}
.footer-info-mail {
	text-decoration: underline;
    font-size: 16px;
    font-family: 'MuseoSansCyrl300';
    text-decoration: none;
	color: #1c212d;
}
.footer-policy > a {
	color: #a8a8a8;
    text-decoration: underline;
    margin-top: 15px;
    display: block;
}
.reveal-modal form  {
	display: flex;
	flex-direction: column;
}
.reveal-modal input {
	width: 80%;
	font-size: 18px;
	height: auto;
	margin-bottom: 18px;
	font-family: 'MuseoSansCyrl700';
}
.reveal-modal button {
	width: 80%;
	font-family: 'MuseoSansCyrl700';
	font-size: 18px;
}